body {
    font-family: 'Poppins', sans-serif;
    background-image: url(fond_ecran.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.header {
    width: 100%;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 28px;
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.hidden {
    transform: translateY(-100%);
}

.container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 60%;
    max-width: 700px;
    text-align: center;
    color: #333;
    margin-top: 90px;
}

.intro {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
    font-weight: 400;
}

.search-bar {
    margin-bottom: 20px;
}

input {
    padding: 12px;
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    background: linear-gradient(to right, #ff6a5b, #fd9d52);
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.weather-info {
    margin-bottom: 20px;
}

.activity-section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 700px;
    text-align: center;
    color: #333;
}

.activity-section:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}