<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>MétéoTrip | Activités</title>
</head>
<body>
    <header>
        MétéoTrip
    </header>
    <div class="container">
        <form action="http://localhost:5000/activitiesResult">
            <input type="text" name="city" placeholder="Entrer une ville">
            <button type="submit">Chercher des activités</button>
        </form>
    </div>
</body>
</html>